{% extends "base.html" %}

{% block title %}chatting_change_list.html{% endblock %}

{% block content %}
<h1>Chatting Change - {{user}}</h1>
<br>
<table class="table table-bordered table-condensed table-striped">
	<thread>
		<tr class="table-primary">
			<th>Title</th>
			<th>Password</th>
			<th>Owner</th>
			<th>Member</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thread>
	
	<tbody>
		{% for item in object_list %}
		<tr>
			<td>{{item.title}}</td>
			<td>{{item.password}}</td>
			<td>{{item.owner}}</td>
			<td>{{item.member}}</td>
			<td><a href="{% url 'chat:update' item.id %}">Update</a></td>
			<td><a href="{% url 'chat:delete' item.id %}">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>	

{% endblock %}
