{% extends "base.html" %}

{% block title %}index.html{% endblock %}

{% block content %}
<h1> 채팅방 입장하기 - {{user}}</h1>
<p class="font-italic">asdfasdf</p>

{% if form.errors %}
<div class="alert alert-danger">
	<div class="font-weight-bold">Wrong!! Please correct the error(s) below.</div>
	{{ form.errors }}
</div>
{% endif %}

<ul>
	{% for chatting in object_list %}
		<li>
		<a href="">{{ chatting }}</a>
		</li>
	{% endfor %}
</ul>

<h1>{{name}}</h1>

    Chatting Room Name:<br>
    <input id="room-name-input" type="text" size="100" name="room-name"/><br>


    <script>
		///var roomPass=document.getElementById('room-pass-input');
		//roomPass.addEventListener('click', function(){alert('HelloWorld');})
        //document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
               document.querySelector('#room-name-submit').click();
            }
        };
        
        document.querySelector('#room-pass-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
               document.querySelector('#room-pass-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var roomPass = document.querySelector('#room-pass-input').value;
            window.location.pathname = '/chat/' + roomName + '/'+roomPass+'/';
        };
    </script>

{% endblock %}
