{% extends "base.html" %}

{% block title %}index.html{% endblock %}

{% block content %}
<h1>{{user}}님은 {{room_name_json}}방에 입장하셨습니다!</h1>
<p class="font-italic">누가 방장인지는 아무도 모릅니다!</p>
<p class="font-italic">이 글은 오직 방장에게만 보입니다! 당신은 방장입니다.</p>

{% if form.errors %}
<div class="alert alert-danger">
	<div class="font-weight-bold">Wrong!! Please correct the error(s) below.</div>
	{{ form.errors }}
</div>
{% endif %}


<textarea id="chat-log" cols="100" rows="20"></textarea><br/>
<input id="chat-message-input" type="text" size="100"/><br/>
<input id="chat-message-submit" type="button" value="Send"/>	

<script>
    var roomName = {{room_name_json}};
    var roomPass = {{room_pass_json}};
    var roomNick = {{room_nick_json}};
	//var user={{user}};
	//var user = user.toString();
	// 실제 채팅 서버를 연다
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
        // socket은 /ws/chat/roomName/으로 열림, 
        // 주소창에 chat/room_name/room_pass/room_nick/ 내용은 상관없음
        // 하지만 django에서 room_pass, room_nick을 임의로 입력하면 접속되지 않게 막음.

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += ('Anonymous : '+message + '\n' );
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>

{% endblock %}
